# Default team administering overall repo
* @GoogleCloudPlatform/connectgateway @GoogleCloudPlatform/gke-multicluster

.github/ @jiayimeow @apeabody @corentone
/fleet-charts/ @apeabody @corentone

# NOTE: GitHub CODEOWNERS locations:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-and-branch-protection

CODEOWNERS @apeabody @jiayimeow @corentone
.github/CODEOWNERS @jiayimeow @apeabody @corentone
docs/CODEOWNERS @jiayimeow @apeabody @corentone
