apiVersion: config.kueue.x-k8s.io/v1beta2
kind: Configuration
health:
  healthProbeBindAddress: :8081
metrics:
  bindAddress: :8443
webhook:
  port: 9443
leaderElection:
  leaderElect: true
  resourceName: c1f6bfd2.kueue.x-k8s.io
controller:
  groupKindConcurrency:
    Job.batch: 5
    Pod: 5
    Workload.kueue.x-k8s.io: 5
    LocalQueue.kueue.x-k8s.io: 1
    ClusterQueue.kueue.x-k8s.io: 1
    ResourceFlavor.kueue.x-k8s.io: 1
clientConnection:
  qps: 50
  burst: 100
integrations:
  frameworks:
  - "batch/job"
featureGates:
  MultiKueueClusterProfile: true
multiKueue:
  clusterProfile:
    credentialsProviders:
    - name: google
      execConfig:
        apiVersion: client.authentication.k8s.io/v1beta1
        command: /plugins/gcp-auth-plugin
        interactiveMode: Never